
@{
    ViewData["Title"] = "MainIndex";
}
<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <h1>Hello, this is application to manage exercise management.</h1>

    <a asp-action="Index" class="btn btn btn-warning">Edit exercises</a>
    <a asp-action="IndexTraining" class="btn btn-warning">Prepared training</a>
</div>

